@using IndividualTaskManagement.Models

@model AddGoalModel
@{
    
    ViewBag.Title = "Create";
    var subject = new ApplicationDbContext().Subject;
}


<h2>Create Task</h2>
<div class = "well span8">
@if (User.IsInRole("teacher"))
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <style>
            .center {
                margin: auto;
                width: 60%;          
            }
        </style>
        <div class="form-horizontal">
            <h4  class="center">Введите информацию about task</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group" style="margin-left:25%">
                @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.name, new { @class = " col-md-4" })
                    @Html.ValidationMessageFor(model => model.name)
                </div>
            </div>
            <div class="form-group" style="margin-left:25%">
                @Html.LabelFor(model => model.subject_id, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.subject_id, new SelectList(subject, "id", "Name"), new { @class = "col-md-4" })
                    @Html.ValidationMessageFor(model => model.subject_id)
                </div>
            </div>
            <div class="form-group">
               
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success pull-right" />
                </div>
                <div class="col-md-10">
                    @Html.ActionLink("Back to the list", "Index", new object { }, new { @class = "btn btn-primary pull-left" })
                </div>
            </div>
            
        </div>
        
    }

}
else
{
    <h3>
        @Html.Label("There is no access to this page")
    </h3>
}
</div>