@model IndividualTaskManagement.Models.Goal
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-group">     
    <table class="table" style="margin-top:auto">
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
            </tr>
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <td>
            @Html.DisplayFor(model => model.StartDate)
        </td>
            </tr>
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <td>
            @Html.DisplayFor(model => model.Subject.Name)
        </td>
            </tr>
        <th>
            @Html.DisplayNameFor(model => model.Completeness)
        </th>
        <td>
            @Html.DisplayFor(model => model.Completeness)
        </td>
    </table>
    <div class="form-group">
        <p>
            @Html.ActionLink("add subtask", "CreateSubgoal", "Subgoal", new { id = Model.Id }, new { @class = "btn btn-success pull-left" })
           
        </p>
    </div>
        
</div>

<div class="col-md-11">
    <p>
        @Html.Action("SubgoalList", "Subgoal", new { goalId = Model.Id })
    </p>
</div>