@model IndividualTaskManagement.Models.Subgoal
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div class="well span8">
    <style>
        .center {
            margin: auto;
            width: 60%;
        }
    </style>
    <h3 class="center">Вы действительно хотите удалить subtask?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal"  style="margin-left:25%">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="form-actions no-color">
                    <input type="submit" value="Удалить" class="btn btn-danger pull-right" />
                    @Html.ActionLink("Вернуться", "Details/" + Model.Goal.Id, "Goal", new object { }, new { @class = "btn btn-primary pull-left" })
                </div>
                </div>
                }
            </div>
</div>