@model IndividualTaskManagement.Models.Subgoal

@{
    ViewBag.Title = "Download Files";
    var sub = ViewBag.id;
    var Files = (ViewBag.Files as string[]);
    var Dates = (ViewBag.Dates as string[]);
    var Length = (ViewBag.Length as string[]);
}

@if (Files != null && Files.Any())
{
  
    <table class="table">
        <tr>
            <td>

                <table class="table">
                    <tr><h5>File</h5></tr>
                    @foreach (var file in Files)
                {


                        <tr>
                            <td>
                                <h6>
                                    @Html.ActionLink(file, "DownloadFile", new { fileName = file, subgoalId = Model.Id })
                                </h6>
                            </td>
                        </tr>


                    }
                   
                </table>
            </td>
            <td>
                <table class="table">
                    <tr><h5>Create date</h5></tr>
                    @foreach (var date in Dates)
                {

                        <tr>
                            <td>
                                <h6>@date</h6>
                            </td>
                        </tr>

                    }
                </table>
                </td>
            <td>
                <table class="table">
                    <tr><h5>File length</h5></tr>
                    @foreach (var len in Length)
                {

                        <tr>
                            <td>
                                <h6>@len</h6>
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>

                <table class="table">
                    <tr><h5>&nbsp</h5></tr>
                    @foreach (var file in Files)
                {


                        <tr>
                            <td>
                                <h6>
                                    @Html.ActionLink("Delete", "DeleteFile", new { fileName = file, subgoalId = Model.Id })
                                </h6>
                            </td>
                        </tr>


                    }

                </table>
            </td>
        </tr>
    </table>
}
else
{
    <label>No File(s) to Download</label>
}



    <div class="form-actions no-color">
       
        @Html.ActionLink("Вернуться", "Details" , new { id = sub}, new { @class = "btn btn-primary pull-left" })
    </div>
<script src="~/js/theme.js"></script>