@using IndividualTaskManagement.Models
@model  EditSubgoalModel
@{
    string studentName = ViewBag.StudentName;
    ViewBag.Title = "Edit";
    int goalId = ViewBag.id;
}

@if (User.IsInRole("teacher"))
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Subtask</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.DisplayName("FullName")
                <div class="col-md-10">
                    @Html.DisplayName(studentName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.name, new { @class = " col-md-4" })
                    @Html.ValidationMessageFor(model => model.name)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.description, new { @class = " col-md-4" })
                    @Html.ValidationMessageFor(model => model.description)
                </div>
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.atTerm, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.atTerm, new { @class = " col-md-4" })
                        @Html.ValidationMessageFor(model => model.atTerm)
                    </div>
                </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.endDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.endDate, new { @type = "date" })
                    @Html.ValidationMessageFor(model => model.endDate)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>

    }
    <div class="form-actions no-color">
        @Html.ActionLink("Вернуться", "Details/" + goalId, "Goal")
    </div>


}
else
{
    <h3>
        @Html.Label("There is no access to this page")
    </h3>
}